<div class="sidebar">

    <div class="sidebar-logo"><a href="./index.html"><img src="" alt="matthew caldwell"></a></div>

    <div class="sidebar-section">my work</div>
    <div class="sidebar-links">
        <a href="./music.html">music</a>
        <a href="./art.html">art</a>
        <a href="./games.html">games</a>
    </div>

    <div class="sidebar-section">links</div>
    <div class="sidebar-links">
        <a href="#!"><img src="" alt="">discord</a>
    </div>

    <div class="sidebar-section">contact</div>
    <div class="sidebar-links">
        <a href="mailto:matthew.thecaldwell06@gmail.com"><img src="" alt=""/>matthew.thecaldwell06@gmail.com</a>
        <a href="#!"><img src="" alt="phone"/>571-295-9407</a>
    </div>

</div>