<div class="sidebar">

    <div class="sidebar-logo">
        <a href="{{ '/' | relative_url }}">
            <img class="pixelart" src="{{ '/assets/icons/logo.png' | relative_url }}" alt="matthew caldwell" width="128">
        </a>
    </div>

    <div class="sidebar-section"></div>

    <div class="sidebar-links">
        <a href="{{ '/music.html' | relative_url }}">
            <img class="pixelart" src="{{ '/assets/icons/music.png' | relative_url }}" width="64">
            <span>music</span>
        </a>

        <a href="{{ '/art.html' | relative_url }}">
            <img class="pixelart" src="{{ '/assets/icons/art.png' | relative_url }}" width="64">
            <span>art</span>
        </a>

        <a href="{{ '/games.html' | relative_url }}">
            <img class="pixelart" src="{{ '/assets/icons/game.png' | relative_url }}" width="64">
            <span>games</span>
        </a>

        <a href="https://github.com/matthew-ac06" target="_blank">
            <img class="pixelart" src="{{ '/assets/icons/github.png' | relative_url }}" width="64">
            <span>github</span>
        </a>

        <a href="https://www.linkedin.com/in/matthew-caldwell-4a1592330/" target="_blank">
            <img class="pixelart" src="{{ '/assets/icons/linkedin.png' | relative_url }}" width="64">
            <span>linkedin</span>
        </a>

        <a href="mailto:matthew.thecaldwell06@gmail.com" target="_blank">
            <img class="pixelart" src="{{ '/assets/icons/email.png' | relative_url }}" width="64">
            <span>contact</span>
        </a>
    </div>

</div>