<div class="sidebar">

    <div class="sidebar-logo">
        <a href="/">
            <img class="pixelart" src="/assets/icons/logo.png" alt="matthew caldwell" width="128">
        </a>
    </div>

    <div class="sidebar-section"></div>

    <div class="sidebar-links">
        <a href="music.html">
            <img class="pixelart" src="/assets/icons/music.png" width="64">
            <span>music</span>
        </a>

        <a href="art.html">
            <img class="pixelart" src="/assets/icons/art.png" width="64">
            <span>art</span>
        </a>

        <a href="games.html">
            <img class="pixelart" src="/assets/icons/game.png" width="64">
            <span>games</span>
        </a>

        <a href="https://github.com/matthew-ac06" target="_blank">
            <img class="pixelart" src="/assets/icons/github.png" width="64">
            <span>github</span>
        </a>

        <a href="https://www.linkedin.com/in/matthew-caldwell-4a1592330/" target="_blank">
            <img class="pixelart" src="/assets/icons/linkedin.png" width="64">
            <span>linkedin</span>
        </a>

        <a href="mailto:matthew.thecaldwell06@gmail.com" target="_blank">
            <img class="pixelart" src="/assets/icons/email.png" width="64">
            <span>contact</span>
        </a>
    </div>

</div>