/* general */
* {box-sizing: border-box;}

html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1e1a26;
    color: #111111;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 16px;
}

/* layout */
#wrapper {
    display: flex;
    min-height: 100vh;
}
#page-content-wrapper {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    padding: 30px;
}

/* sidebar */
.sidebar {
    width: 220px;
    min-height: 100vh;
    padding: 25px 20px;
    border-right: 0px solid #111111;
    overflow-y: auto;
}

/* pixelart */
.pixelart {
    image-rendering: pixelated;
}

/* logo */
.sidebar-logo {
    margin-bottom: 45px;
}
.sidebar-logo a {
    display: block;
}
.sidebar-logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* section headings */
.sidebar-section {
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: bold;
    text-transform: lowercase;
}

/* links */
.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.sidebar-links a {
    display: block;
    color: #f6e190;
    text-decoration: none;
}

    .sidebar-links a span {
        position: relative;
        top: -20px;
        left: 10px;
    }

    .sidebar-links a:hover {
        color: white;
    }

/* grid */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 25px;
    width: 100%;
}

.portfolio-item {
    min-width: 0;
}

    .portfolio-item img {
        display: block;
        width: 100%;
        height: auto;
    }

/* music */
    .portfolio-item iframe {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 9;
        border: 0;
    }

.music-title {
    margin-top: 8px;
    font-size: 16px;
    color: mediumspringgreen;
}

    .music-title a {
        color: mediumspringgreen;
        text-decoration: none;
    }

        .music-title a:hover {
            color: white;
        }

.portfolio-subtitle {
    margin-top: 3px;
    font-size: 14px;
    font-weight: normal;
    color: lime;
}

.music-description {
    margin-top: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.6;
    color: white;
}

.portfolio-item audio {
    width: 100%;
}